@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Entities.SelectAllOrders_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<h2>Tüm Siparişler</h2>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Sipariş Numarası</th>
            <th>Ürün</th>
            <th>Müşteri</th>
            <th>Sipariş Durumu</th>
            <th>Ödeme Durumu</th>
            <th>Teslim Durumu</th>
            <th>Sipariş Tarihi</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="tdRow">@item.OrderId</td>
                <td id="tdRow" nowrap>@item.ProductName</td>
                <td id="tdRow" nowrap>@item.CustomerName</td>
                <td id="tdRow" nowrap>@item.StatusName</td>
                <td id="tdRow" nowrap>
                    @if (item.IS_PAYMENT == true)
                    {
                        <div>Ödeme Yapıldı</div>
                    }
                    else
                    {
                        <div>Ödeme Yapılmadı</div>
                    }
                </td>
                <td id="tdRow" nowrap>
                    @if (item.IS_PAYMENT == true)
                    {
                        <div>Teslim Edildi</div>
                    }
                    else
                    {
                        <div>Teslim Edilmedi</div>
                    }
                </td>
                <td id="tdRow" nowrap>@item.OrderDate</td>
                <td id="tdRow" nowrap>@String.Format("{0:C2}", item.Order_KDV_Price)</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))